.container{
    width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.inputbox{
    height: 35px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 15px;
    margin-bottom: 15px;
}